$violet:#4a223e;
$pink:#e1a2cd;
$white:#fff;
$black:#000;
$green:#569f57;
$darkPurple: #542c47;
$lightPurple: #936b8e;
$greenShade: #6b9d6b;
$white: #fff;
$darkBrown: #4a2b22;
$transition:.4s ease-in-out;
$font:'Amatic SC', sans-serif;
$slide-width: 100%;
$transition-duration: 0.5s;


